body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

section.section {
    flex: 1;
}

.weather-card {
    transition: transform 0.3s;
}

.weather-card:hover {
    transform: translateY(-5px);
}

.weather-icon {
    font-size: 3rem;
}

.navbar-brand {
    font-weight: bold;
}

.footer {
    padding: 2rem 1.5rem;
}

.tags a {
    color: inherit;
    text-decoration: none;
}

.tags a:hover {
    text-decoration: underline;
}